<div class="row">
    <div class="col-4">
  
        <div class="card mx-2">
          <div class="card-header">
            Random Image 1
          </div>
          <div class="card-body">
            <img src="https://picsum.photos/200/300" alt="">
          </div>
        </div>
  
  
      
    </div>
    <div class="col-4">
      <div class="card mx-2">
        <div class="card-header">
          Random Image 2
        </div>
        <div class="card-body">
          <img src="https://picsum.photos/300/300" alt="">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-2">
        <div class="card-header">
          Random Image 3
        </div>
        <div class="card-body">
          <img src="https://picsum.photos/300/200" alt="">
        </div>
      </div>
    </div>  
    
  </div>